{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/admin">后台首页</a></li>
    <li><a href="/admin/category_add">文章添加</a></li>
</ol>

<h2>文章添加</h2>
<br/>

<form role="form" method="post">
    <div class="form-group">
        <label for="name">所属分类：</label>
        <select name="category" class="form-control">
            {% for category in categories %}

            {% if category._id.toString() === contents.category._id.toString() %}
            <option value="{{category.id}}" selected>{{category.categoryName}}</option>
            {% else %}
            <option value="{{category.id}}">{{category.categoryName}}</option>
            {% endif %}

            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="name">标题：</label>
        <input type="text" value="{{contents.title}}" class="form-control" id="name" name="title" placeholder="请输入添加文章的标题">
    </div>
    <div class="form-group">
        <label for="name">简介：</label>
        <textarea style="resize: none" class="form-control" rows="7" id="name" name="about" placeholder="请输入添加文章的简介">{{contents.about}}</textarea>
    </div>
    <div class="form-group">
        <label for="name">内容：</label>
        <textarea style="resize: none" class="form-control" rows="7" id="name" name="contents" placeholder="请输入添加文章的内容">{{contents.contents}}</textarea>
    </div>
    <button type="submit" class="btn btn-default">添加</button>
</form>

{% endblock %}