{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/admin">后台首页</a></li>
    <li><a href="/admin/users">用户管理</a></li>
</ol>

<table class="table table-striped table-hover table-condensed">

    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>权限</th>
    </tr>

    {% for user in users %}

    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            {% if user.isAdmin %}1{% else %}0{% endif %}
        </td>
    </tr>

    {% endfor %}

</table>

{% include 'pages.html' %}

{% endblock %}